{% extends 'base.html' %}


{% block 'main' %}
<h2 class="mt-5">Update Task</h2>
<div class="col md-8 mt-3 m-auto">
    
    <form method="POST" action="/edit/{{d.id}}">
        {% csrf_token %}
    {% for d in data %}

        <div class="mb-3">
            <label for="tid" class="form-label">Title:</label>
            <input type="text" class="form-control" name="t" id="tid" value="{{d.title}}" required>
        </div>

        <div class="mb-3">
            <label for="detid" class="form-label">Details:</label>
            <textarea class="form-control" name="det" id="detid" rows="3" required>{{d.detail}}</textarea>
        </div>

        <div class="mb-3">
            <label for="dtid" class="form-label">Date:</label>
            <input type="date" class="form-control" name="dt" value="{{d.date}}" required>
        </div>
        <h2>{{d.date}}</h2>

        <div class="mb-3">
            <input type="submit" class="form-control btn btn-primary" name="send" value="UPDATE"/>
        </div>
    {% endfor %}    
    </form>
</div>


{% endblock 'main' %}